name: deploy-gh-pages-actions
run-name: ${{ github.actor }} is deploying gh-pages
on:
  push:
    branches: 
      - master
jobs:
  deploy-gh-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ github.token }}
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
      - run: |
          git config --global user.email "${{ github.event.pusher.email }}"
          git config --global user.name "${{ github.actor }}"
      - run: npm install
      - run: PUBLIC_URL=/${{ github.event.repository.name }} npm run build
      - run: mkdir ./gh-pages
      - run: | 
          git init -b gh-pages ./gh-pages 
          cd ./gh-pages
          git remote add -t gh-pages origin \
          https://git${{ github.token }}@github.com/${{ github.repository }}.git
          git pull origin gh-pages
          rm -rf ./*
          cp -rf ../build/* ./
          git add .
          git commit -m "${{ github.actor }} deploy "
          git push origin gh-pages
          cd ..
          
